[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-chessgoclock
Exec=sailfish-qml harbour-chessgoclock
Name=Chess & Go Clock
Name[fi]=Shakki- ja Go-kello

[X-Sailjail]
Permissions=Audio
OrganizationName=null.hsjpekka
ApplicationName=harbour-chessgoclock
